p { 
    color: red;
}

/* #green {
    color: green;
}

.grnclr {
    color: green;
}

.big {
    font-size: 30px;
} */

/* #green {
    color: green;
}

.blue {
    color: blue;
} */

/* h2 {
    color: red;
}

h2 span {
    color: black;
} */

.man3 {
    color: orangered;
}